In [2]:
import import_ipynb
import os

используем существующие методы и путь до каталога

In [3]:
%run usefull_notebooks/lin_model_trend.ipynb

Ошибка при выполнении анализа: [Errno 2] No such file or directory: 'CLOSE.csv'

In [4]:
current_dir = os.path.dirname(os.path.abspath('.'))

In [5]:
close_dir=current_dir +'\DataBase\CLOSE.csv'

In [6]:
data, time, y = load_and_prepare_data(current_dir +'\DataBase\CLOSE.csv', date_column='timestamp', target_column='YNDX')

In [7]:
data

,Unnamed: 0,timestamp,ABIO,ABRD,ACKO,AFKS,AFLT,AGRO,AKRN,ALBK,...,WUSH,YAKG,YKEN,YKENP,YNDX,YRSB,YRSBP,ZILL,t,t_norm
0,0,2019-01-03 06:00:00,7.96,140.0,7.00,8.030,101.90,795.0,4718.0,76.0,...,182.44,8.38,0.229,0.225,1918.5,98.0,67.0,838.0,0.0,0.000000
1,1,2019-01-03 07:00:00,7.85,140.0,7.08,8.037,101.16,793.0,4712.0,75.0,...,182.66,8.28,0.228,0.236,1903.5,119.0,70.0,858.0,3600.0,0.000021
2,2,2019-01-03 08:00:00,8.00,142.0,7.04,7.976,101.08,794.0,4708.0,69.0,...,184.00,8.32,0.230,0.226,1899.0,120.0,64.0,858.0,7200.0,0.000042
3,3,2019-01-03 09:00:00,7.80,140.0,7.20,7.989,101.22,797.0,4716.0,70.0,...,185.40,8.28,0.230,0.229,1898.0,110.0,68.0,850.0,10800.0,0.000063
4,4,2019-01-03 10:00:00,7.88,140.0,7.18,8.013,101.36,796.5,4714.0,70.0,...,185.00,8.28,0.229,0.229,1898.0,110.0,67.0,858.0,14400.0,0.000084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18083,18083,2024-06-13 13:00:00,76.90,NaN,NaN,23.653,59.16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4097.0,NaN,NaN,NaN,171788400.0,0.999916
18084,18084,2024-06-13 14:00:00,76.88,NaN,NaN,23.679,59.05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4101.0,NaN,NaN,NaN,171792000.0,0.999937
18085,18085,2024-06-13 15:00:00,76.94,NaN,NaN,23.695,58.98,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4103.2,NaN,NaN,NaN,171795600.0,0.999958
18086,18086,2024-06-13 16:00:00,76.86,NaN,NaN,23.825,59.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4091.4,NaN,NaN,NaN,171799200.0,0.999979
18087,18087,2024-06-13 17:00:00,76.70,NaN,NaN,23.959,59.32,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4071.2,NaN,NaN,NaN,171802800.0,1.000000

можно заметить, что никто предобработку данных не делал

In [8]:
PARAMS = {
    'look_back': [30, 60, 90, 120],
    'units': [32, 50, 64, 128],
    'dropout_rate': [0.1, 0.2, 0.3],
    'batch_size': [16, 32, 64],
    'learning_rate': [0.001, 0.0005, 0.0001]
}